@theme {
  --color-primary: #111111;
  --color-on-primary: #ffffff;
  --color-canvas: #ffffff;
  --color-soft-cloud: #f5f5f5;
  --color-ink: #111111;
  --color-charcoal: #39393b;
  --color-ash: #4b4b4d;
  --color-mute: #707072;
  --color-stone: #9e9ea0;
  --color-hairline: #cacacb;
  --color-hairline-soft: #e5e5e5;
  --color-sale: #d30005;
  --color-sale-deep: #780700;
  --color-success: #007d48;
  --color-success-bright: #1eaa52;
  --color-info: #1151ff;
  --color-info-deep: #0034e3;
  --color-accent-pink: #ed1aa0;
  --color-accent-pink-soft: #ffb0dd;
  --color-accent-purple-soft: #beaffd;
  --color-accent-purple-pale: #d6d1ff;
  --color-accent-teal: #0a7281;
  --color-accent-pink-deep: #4c012d;
  --font-display-campaign: "Nike Futura ND";
  --font-heading-xl: "Helvetica Now Display Medium";
  --font-heading-lg: "Helvetica Now Display Medium";
  --font-heading-md: "Helvetica Now Display Medium";
  --font-body-md: "Helvetica Now Text";
  --font-body-strong: "Helvetica Now Text Medium";
  --font-button-lg: "Helvetica Now Display Medium";
  --font-button-md: "Helvetica Now Text Medium";
  --font-button-sm: "Helvetica Now Text Medium";
  --font-link-md: "Helvetica Now Text";
  --font-caption-md: "Helvetica Now Text Medium";
  --font-caption-sm: "Helvetica Now Text Medium";
  --font-utility-xs: "Helvetica Neue";
  --text-display-campaign: 96px;
  --text-heading-xl: 32px;
  --text-heading-lg: 24px;
  --text-heading-md: 16px;
  --text-body-md: 16px;
  --text-body-strong: 16px;
  --text-button-lg: 24px;
  --text-button-md: 16px;
  --text-button-sm: 14px;
  --text-link-md: 16px;
  --text-caption-md: 14px;
  --text-caption-sm: 12px;
  --text-utility-xs: 9px;
  --font-weight-display-campaign: 500;
  --font-weight-heading-xl: 500;
  --font-weight-heading-lg: 500;
  --font-weight-heading-md: 500;
  --font-weight-body-md: 400;
  --font-weight-body-strong: 500;
  --font-weight-button-lg: 500;
  --font-weight-button-md: 500;
  --font-weight-button-sm: 500;
  --font-weight-link-md: 500;
  --font-weight-caption-md: 500;
  --font-weight-caption-sm: 500;
  --font-weight-utility-xs: 500;
  --radius-none: 0px;
  --radius-sm: 18px;
  --radius-md: 24px;
  --radius-lg: 30px;
  --radius-full: 9999px;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 18px;
  --spacing-xl: 24px;
  --spacing-xxl: 30px;
  --spacing-section: 48px;
}
